<app-header></app-header>
<div class="container">
  <!--div id="loader" class="loader"></div!-->

  <div class="row">
    <div class="col-lg-6">
      <h2 class="title">Pas de compte? S'inscrire</h2>
      <mat-card>
        <form #signinForm="ngForm">
          <mat-form-field class="large">
            <input matInput placeholder="Prénom et Nom" name="name" required="" ngModel>
          </mat-form-field>
          <mat-form-field class="large">
            <input matInput placeholder="Email" name="email" required="" ngModel>
          </mat-form-field>
          <mat-form-field class="large">
            <input matInput placeholder="Mot de Passe" name="password" required="" ngModel>
          </mat-form-field>
          <mat-form-field class="large">
            <input matInput placeholder="Confirmation du Mot de Passe" name="confirm_password" required="" ngModel>
          </mat-form-field>
          <div class="row center">
            <div class="col-lg-6 center">
              <button type="submit" [disabled]="!signinForm.valid" (click)="signin(signinForm.value)" class="btn btn-primary">
                S'inscrire</button>
            </div>
          </div>
        </form>
      </mat-card>
    </div>

    <div class="col-lg-6">
        <h2 class="title">Se connecter</h2>
        <mat-card>
          <form #loginForm="ngForm">
            <mat-form-field class="large">
              <input matInput placeholder="Email" name="email" required="" ngModel>
            </mat-form-field>
            <mat-form-field class="large">
              <input matInput placeholder="Mot de Passe" name="password" required="" ngModel>
            </mat-form-field>
            <div class="row center">
              <div class="col-lg-6">
                <button type="submit" [disabled]="!loginForm.valid" (click)="login(loginForm.value)" class="btn btn-primary">Se
                  connecter</button>
              </div>
              <div class="col-lg-6">
                <a routerLink="/reset-password" class="btn btn-link">Mot de Passe oublié?</a>
              </div>
            </div>
          </form>
        </mat-card>
      </div>
  </div>
</div>
<button id="dialogButton" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="display: none">Compte</button>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">
        <p>Votre compte a bien été créé</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

