<form #f="ngForm" style="position: center;">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Email" name="login" required="" ngModel >
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Mot de Passe" name="password" required="" ngModel>
    </mat-form-field>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="!f.valid" (click)="login(f.value)" class="btn btn-primary" style="margin-left: 500px;">Se connecter</button>
    <a routerLink="/reset-password" class="btn btn-link" style="margin-left: 100px">Mot de Passe oublié?</a>
  </div>
  <a routerLink="/register" class="btn btn-link" style="margin-left: 600px;">Pas de compte? S'inscrire</a>
</form>

<!--form #f="ngForm">
<div class="form-group"  >
      <div class="form-group">
         	<label for="login">Login</label>
          <input type="text" name="login" required="" ngModel class="form-control">
      </div>

      <div class="form-group">
         	 <label for="password">Mot de Passe</label>
         	<input type="password" name="password" required="" ngModel="password" class="form-control">
      </div>
     <div class="form-group">
        <button type="submit" [disabled]="!f.valid" (click)="login(f.value)" class="btn btn-primary">Se connecter</button>
       <a routerLink="/register" class="btn btn-link">S'inscrire</a>
    </div>
</div>
</form!-->
