<!DOCTYPE html>
<html>
<head>
    <title>Welcome on event planner</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
 <div style="background-color: #D8E4F2">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1b3a77;">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
     <div class="collapse navbar-collapse">
         <ul class="navbar-nav">
             <li class="nav-item">
                    <a class="nav-link" href="#">Events</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#">Tuto</a>
                    </li>
         </ul>
         
     </div>
     <span class="navbar-text">Create Account</span>
     <img src="../assets/icon/man-user.png" alt="user" style="margin-left: 4px;">
     <span class="navbar-text" style="margin-left: 2px;">Log In</span>
    </nav>
    <!-- As a heading -->
  </div>
<div style="background-color: #D8E4F2">
    <div class="form-event">
      <br><br><br>
    <div class="form-group"  >
      <div class="form-row">
         <div class="col">
           <input type="text" class="form-control mr-sm-2" placeholder="Event title..." [(ngModel)]="EventTitle.title" style="margin-left: 500px; width: 200px;">
         </div>
         <div class="col">
           <button class="btn btn-success my-2 my-sm-0"  (click)="addEvent()">Create event</button> 
       </div> 
    </div>
    </div>
   </div>
   <div class="slide-img-app" style="margin-top: 50px; margin-left: 420px" >
    <!--ul class="list-img"!-->
        <img class="slide-img" src="../assets/icon/plan_together.png" alt="plan together" style="width: 500px; height: 400px">
        <!--img class="slide-img" src="../assets/icon/hand_mark.png" alt="plan together" style="width: 500px; height: 400px">
        <img class="slide-img" src="../assets/icon/planning.png" alt="plan together" style="width: 500px; height: 400px">
        <img class="slide-img" src="../assets/icon/reunion.png" alt="plan together" style="width: 500px; height: 400px"!-->
    <!--/ul!-->
  </div>
</div></body>

</html>

