<app-header></app-header>
<h1 class="big-title title-margin">Commentaires</h1>

<div class="row center mat-card rounded-corners">
  <div class="col-lg-10 col-md-10 center">
    <textarea matInput class="large" name="" [disabled]=""></textarea>
    <span></span>
  </div>

    <!--div class="col-lg-2 col-md-2 center">
      <button mat-icon-button color="primary" title="Supprimer le commentaire" (click)="removeComment(comment._id)" *ngIf="(comment.name == currentParticipant.name) || isAdmin">
        <mat-icon aria-label="Example icon-button with a heart icon">remove_circle</mat-icon>
      </button>
      <button mat-icon-button color="primary" title="Modifier le commentaire" (click)="updateComment(comment._id, comment.text)" *ngIf="(comment.name == currentParticipant.name)">
        <mat-icon aria-label="Example icon-button with a heart icon">create</mat-icon>
      </button>
    </div!-->

</div>

<div class="row center mat-card rounded-corners new-comment">
  <div class="col-lg-11 col-md-11 center">
    <mat-form-field class="large">
      <textarea matInput class="large" name="newComment" placeholder="Ajouter un nouveau commentaire"></textarea>
    </mat-form-field>
  </div>
  <div class="col-lg-1 col-md-1 center">
    <button mat-icon-button color="primary" title="Ajouter le commentaire">
      <mat-icon aria-label="Example icon-button with a heart icon">check_circle</mat-icon>
    </button>
  </div>
</div>

