.center {
    margin: auto;
    width: 75%;
    padding: 10px;
  }

  .large {
    width: 100%;
  }

.left {
    position: relative;
    right: 0;
}

.col-centered{
    float: none;
    margin: 0 auto;
}
