<form #f="ngForm" style="position: center;">
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Nom et Prenom" value="{{userName}}">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email" value="{{userEmail}}">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Mot de Passe" value="{{userPassword}}">
  </mat-form-field>
</div>
  <div><button type="submit" class="btn btn-primary" style="margin-left: 650px;">Sauvegarder</button></div>
</form>
