table {
  width: 100%;
}

.mat-row:hover{
 background-color: aliceblue;
}

.mat-header-row{
  background-color: aliceblue;
}

a{
  margin-left: 200px;
}
.fa {
  margin-left: 20px;
}

#tablePartcipants{
  margin-left: 20px;
  width: 80%;
}
#tableInvitations tr:nth-child(even){ background-color: aliceblue;}

#tablePartcipants tr:nth-child(even) {background-color: #f2f2f2;}

#tablePartcipants tr:hover {background-color: #ddd;}

#tablePartcipants tr{
  border: 1px;
}

#tablePartcipants td, #tablePartcipants th {
  border: 1px solid #ddd;
  padding: 8px;
}
