<app-header></app-header>
<div class="row" style="width: 100%">

<div class="col-md-5" style="height:90%;padding:0;margin-top: 20px;margin-left: 2.7%;">
    <div class="panel panel-default tabel-panel-1" style="height: 85%; border: 1px solid lightgrey;">

      <div class="panel-body project-panel" *ngIf="guestReunions.length>0">
        <table id="tableInvitations"  mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- add checkbox for select option!-->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <!-- Titre Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> <b>Titre</b> </th>
            <td mat-cell *matCellDef="let reunion"> {{reunion.title}} </td>
          </ng-container>

          <!-- Lieu Column -->
          <ng-container matColumnDef="place">
            <th mat-header-cell *matHeaderCellDef> <b>Lieu</b> </th>
            <td mat-cell *matCellDef="let reunion"> {{reunion.place}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef><b> Date </b></th>
            <td mat-cell *matCellDef="let reunion"> {{reunion.date[0].date | date: 'MMM dd, yyyy'}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns" style="">

          </tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" style="background-color: gray()"></tr>
        </table>

          <button id="selectReunion" class="btn btn-primary"   [disabled]="selection.selected.length == 0" data-toggle="modal" data-target="#myModal">Quitter les reunions</button>
      </div>
      <div *ngIf="guestReunions.length == 0 ">
        Vous n'avez pas d'invitation pour le moment
      </div>
    </div>
  </div>


  <div class="col-md-6" style="height:90%;padding:0;margin-top: 20px;margin-left: 2.7%; border: 1px solid lightgrey;">
    <div *ngIf="guestReunions.length > 0" class="panel panel-default">
      <div class="panel-heading" style="background-color: aliceblue">
        <div class="panel-title" style="margin-left: 250px">
          <i class="fa fa-calendar-check-o">
               {{currentReunion.title}} </i>
        </div>
      </div>
      <div class="panel-body" style="background-color: #fdf5f5">

        <i class="fa fa-address-card">  Administrateur : {{currentReunion.admin.name}}</i>
        <br><br>

        <i class="fa fa-map-marker" aria-hidden="true"> {{currentReunion.place}}</i>
        <br><br>
        <i class="fa fa-calendar" aria-hidden="true" *ngFor="let date of currentReunion.date" style="margin-left: 20px">
          {{date.date |  date: 'MMM dd, yyyy'}}
        </i>
        <br><br>

        <i class="fa fa-sticky-note-o" aria-hidden="true"> {{currentReunion.note}}</i>
        <br><br>
        <div *ngIf="currentReunion.participant.length>0">
        <i class="fa fa-user"> Participants </i>
        <br><br>
        <table id="tablePartcipants">
           <thead>
             <tr>
               <th>Nom</th>
               <th>Email</th>
               <!--td>Commentaire</td!-->
             </tr>
           </thead>
             <tbody>
                <tr *ngFor="let participant of currentReunion.participant">
                  <td>{{participant.name}}</td>
                  <td>{{participant.email}}</td>
                  <!--td>
                    <ng-container *ngFor="let c of currentReunion.comment">
                      <ng-container *ngIf="c.email==participant.email"> {{c.text}} </ng-container>
                    </ng-container>
                  </td!-->
                </tr>
             </tbody>

        </table>
        </div>
        <div>
          <a routerLink="/comments-details">Visualiser les commentaires</a>
        </div>
      </div>
    </div>

</div>
</div>

<!--button id="dialogButton" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="display: none">Compte</button!-->

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">
        <p>Vooulez vous vraiment quitter ces réunions? </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="confirmLeaveReunion()">Confirmer</button>
      </div>
    </div>
  </div>
</div>
