<app-header></app-header>

<div class="panel panel-success" id="div1" *ngIf="isDataAvailable">
  <div class="panel-heading" id="title">
    <i class="fa fa-calendar-check-o" style="color: rgb(255, 255, 255);"> {{reponse.data.reunion.title}} </i>
  </div>
  <div class="panel-body" style="background-color: #ffffff;">
    <br>
    <i class="fa fa-user-secret" aria-hidden="true" style="margin-left: 20px"><B> Administrateur : </B>{{reponse.data.reunion.admin.name}}</i>
    <br><br>

    <i class="fa fa-map-marker" aria-hidden="true" style="margin-left: 20px"> {{reponse.data.reunion.place}}</i>
    <br><br>
    <i class="fa fa-calendar" aria-hidden="true" *ngFor="let date of reponse.data.reunion.date" style="margin-left: 20px">
      {{date.date | date: 'dd MMM yyyy'}}
    </i>
    <br><br>

    <i class="fa fa-sticky-note-o" aria-hidden="true" style="margin-left: 20px"><B> Note : </B>{{reponse.data.reunion.note}}</i>
    <br><br>

    <i class="fa fa-user" style="margin-left: 20px"><B> Participants : </B></i>
    <br><br>
    <table id="tab">
      <tr>
        <th>Nom</th>
        <th>Email </th>
        <th>Commentaire</th>
      </tr>

      <tr>
        <td class="fa fa-user-secret"> {{reponse.data.reunion.admin.name}}</td>
        <td> {{reponse.data.reunion.admin.email}}</td>
        <td></td>
      </tr>

      <tr *ngFor="let p of reponse.data.reunion.participant">
        <td> {{p.name}}</td>
        <td> {{p.email}}</td>
        <td>
          <ng-container *ngFor="let c of reponse.data.reunion.comment">
            <ng-container *ngIf="c.email==p.email"> {{c.text}} </ng-container>
          </ng-container>
        </td>
      </tr>

    </table>
    <br>
  </div>
</div>