<app-header></app-header>
<div class="container" *ngIf="event != undefined && event != null">
  <div *ngIf="hasError">
    <p class="text-center error">
      {{errorMsg}}
    </p>
  </div>
  <form #f="ngForm">
    <mat-tab-group>
      <mat-tab label="Mes Infos">
        <h1 class="big-title title-margin">Mes informations personnelles?</h1>
        <div class="row center mat-card rounded-corners">
          <div class="col-lg-5 col-md-5">
            <mat-form-field class="large">
              <input matInput #currentUserName name="currentUserName" placeholder="Votre prénom et nom" type="text"
                required="" [(ngModel)]="currentParticipant.name">
            </mat-form-field>
          </div>
          <div class="col-lg-5 col-md-5">
            <mat-form-field class="large">
              <input matInput #currentUserEmail [disabled]="true" name="currentUserEmail" placeholder="Votre adresse email"
                type="text" required="" [(ngModel)]="currentParticipant.email">
            </mat-form-field>
          </div>
          <div class="col-lg-2 col-md-2">
            <button mat-icon-button color="primary" title="Valider la modification" name="updateCurrentUser" (click)="isAdmin ? updateAdmin() : updateParticipant()">
              <mat-icon aria-label="Example icon-button with a heart icon">done</mat-icon>
            </button>
            <button mat-icon-button color="primary" title="Quitter la réunion" name="leaveEvent" (click)="isAdmin ? deleteEvent() : deleteParticipant(currentParticipant.idParticipant)"
              >
              <mat-icon aria-label="Example icon-button with a heart icon">arrow_right_alt</mat-icon>
            </button>
          </div>
        </div>
      </mat-tab>
      <!-- Admin -->
      <mat-tab label="Admin" *ngIf="!isAdmin">
        <h1 class="big-title title-margin">Qui organise ?</h1>
        <div class="row center mat-card rounded-corners">
          <div class="col-lg-6 col-md-6">
            <mat-form-field class="large">
              <input matInput #adminName name="adminName" placeholder="Votre prénom et nom" type="text" [disabled]="!isAdmin"
                required="" [(ngModel)]="event.admin.name">
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6">
            <mat-form-field class="large">
              <input matInput #adminEmail name="adminEmail" placeholder="Votre adresse email" type="text" [disabled]="!isAdmin"
                required="" [(ngModel)]="event.admin.email">
            </mat-form-field>
          </div>
        </div>
      </mat-tab>
      <!-- Event -->
      <mat-tab label="Informations de la réunion">
        <h1 class="big-title title-margin">Quelle rencontre ?</h1>
        <div class="center mat-card rounded-corners">
          <div class="row center">
            <div class="col-lg-6 col-md-6">
              <mat-form-field class="large">
                <input matInput #title name="title" placeholder="Titre de la réunion" [disabled]="!isAdmin" type="text"
                  required="" [(ngModel)]="event.title">
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-md-6">
              <mat-form-field class="large">
                <input type="text" required="" [disabled]="!isAdmin" matInput #place name="place" placeholder="Lieu de la réunion"
                  [(ngModel)]="event.place">
              </mat-form-field>
            </div>
          </div>
          <div class="row center">
            <div class="col-lg-6 col-md-6">
              <mat-form-field class="large">
                <input type="number" [disabled]="!isAdmin" required="" matInput #maxParticipants name="maxParticipant"
                  placeholder="Nombre Max De Participants" [(ngModel)]="event.maxParticipant">
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-md-6 large">
              <mat-slide-toggle #changeAddComment title="Activer ou désactiver les commentaires" [disabled]="!isAdmin"
                name="addComment" [(ngModel)]="event.addComment" [checked]="event.addComment">Activer/désactiver
                les commentaires</mat-slide-toggle>
            </div>
          </div>
          <div class="row center">
            <div class="col-lg-12 col-md-12">
              <mat-form-field class="large">
                <textarea matInput #note name="note" [disabled]="!isAdmin" placeholder="Note" required="" rows="10"
                  [(ngModel)]="event.note"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row center" *ngIf="isAdmin">
            <div class="col-lg-3 center">
              <button mat-icon-button class="center new-comment" color="primary" title="Valider la modification" name="updateReunion" (click)="updateEvent()">
                  <mat-icon aria-label="Example icon-button with a heart icon">done</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-tab>
      <!-- Dates -->
      <mat-tab label="Dates">
        <h1 class="big-title title-margin">Dates</h1>
        <div class="row center mat-card rounded-corners new-comment" *ngIf="isAdmin">
            <div class="col-lg-3 col-md-3">
              <mat-form-field class="large">
                <input matInput [matDatepicker]="picker" placeholder="Date" name="newDate"
                  required="" [(ngModel)]="newDate.date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-3">
              <mat-form-field class="large">
                <input type="text" required="" name="newHourStart"
                  matInput placeholder="Début ex: 9h" [(ngModel)]="newDate.hourStart">
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-3">
              <mat-form-field class="large">
                <input type="text" required="" name="newHourEnd" matInput
                  placeholder="Fin ex: 18h" [(ngModel)]="newDate.hourEnd">
              </mat-form-field>
            </div>
            <div class="col-lg-2 col-md-3 center">
              <button mat-icon-button color="primary" (click)="createDate()">
                <mat-icon aria-label="Example icon-button with a heart icon">add_circle</mat-icon>
              </button>
            </div>
          </div>
        <div class="row center mat-card rounded-corners" *ngFor="let date of event.date">
          <div class="col-lg-3 col-md-3">
            <mat-form-field class="large">
              <input matInput [disabled]="true" [matDatepicker]="picker" placeholder="Date" name="date{{event.date.indexOf(date)}}"
                required="" [(ngModel)]="date.date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-3">
            <mat-form-field class="large">
              <input type="text" required="" [disabled]="true" name="hourStart{{event.date.indexOf(date)}}"
                matInput placeholder="Début ex: 9h" [(ngModel)]="date.hourStart">
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-3">
            <mat-form-field class="large">
              <input type="text" required="" [disabled]="true" name="hourEnd{{event.date.indexOf(date)}}" matInput
                placeholder="Fin ex: 18h" [(ngModel)]="date.hourEnd">
            </mat-form-field>
          </div>
          <div class="col-lg-2 col-md-3 center" *ngIf="isAdmin">
            <button mat-icon-button color="primary" (click)="deleteDate(date._id)" *ngIf="event.date.length > 1">
              <mat-icon aria-label="Example icon-button with a heart icon">remove_circle</mat-icon>
            </button>
          </div>
        </div>
      </mat-tab>
      <!-- Participants -->
      <mat-tab label="Participants">
        <h1 class="big-title title-margin">Participants</h1>
        <div class="row center mat-card rounded-corners new-comment" *ngIf="event.participant.length < event.maxParticipant">
          <div class="col-lg-4 col-md-5">
            <mat-form-field class="large">
              <input type="text" required="" name="newParticipantName" matInput placeholder="Prénom et nom" [(ngModel)]="newParticipant.name">
            </mat-form-field>
          </div>

          <div class="col-lg-4 col-md-5">
            <mat-form-field class="large">
              <input type="text" required="" name="newParticipantEmail" matInput placeholder="Adresse email"
                [(ngModel)]="newParticipant.email">
            </mat-form-field>
          </div>
          <div class="col-lg-2 col-md-2 center">
            <button class="btn btn-primary large" (click)="createParticipant()">Ajouter</button>
          </div>
        </div>

        <div class="row center mat-card rounded-corners" *ngFor="let participant of event.participant">
          <div class="col-lg-4 col-md-4">
            <mat-form-field class="large">
              <input type="text" required="" [disabled]="true" name="participantName{{participant.name}}" matInput
                placeholder="Prénom et nom" [(ngModel)]="participant.name">
            </mat-form-field>
          </div>

          <div class="col-lg-4 col-md-4">
            <mat-form-field class="large">
              <input type="text" required="" [disabled]="true" name="participantEmail{{participant.email}}" matInput
                placeholder="Adresse email" [(ngModel)]="participant.email">
            </mat-form-field>
          </div>

          <div class="col-lg-2 col-md-2 center" *ngIf="isAdmin">
            <button mat-icon-button color="primary" title="Supprimer le participant" (click)="deleteParticipant(participant._id)">
              <mat-icon aria-label="Example icon-button with a heart icon">remove_circle</mat-icon>
            </button>
          </div>
        </div>
      </mat-tab>
      <!-- Comments -->
      <mat-tab label="Commentaires">
        <h1 class="big-title title-margin">Commentaires</h1>
        <div class="row center mat-card rounded-corners new-comment" *ngIf="event.addComment">
          <div class="col-lg-11 col-md-11 center">
            <mat-form-field class="large">
              <textarea matInput class="large" name="newComment" [(ngModel)]="newCommentText" placeholder="Ajouter un nouveau commentaire"></textarea>
            </mat-form-field>
          </div>
          <div class="col-lg-1 col-md-1 center">
              <button mat-icon-button color="primary" title="Ajouter le commentaire" (click)="createComment(newComment)">
                  <mat-icon aria-label="Example icon-button with a heart icon">check_circle</mat-icon>
                </button>
          </div>
        </div>

        <div class="row center" *ngIf="!event.addComment">
          <div class="col-lg-6 col-md-6 center">
            <p class="text-center">L'ajout de commentaires est désactivé.</p>
          </div>
        </div>

        <div class="row center mat-card rounded-corners" *ngFor="let comment of event.comment">
          <div class="col-lg-10 col-md-10 center">
            <textarea matInput class="large" [(ngModel)]="comment.text" name="comment{{comment._id}}" [disabled]="!isAdmin">{{comment.text}}</textarea>
            <span>{{comment.name}} ({{comment.email}})</span>
          </div>
          <div class="col-lg-2 col-md-2 center">
              <button mat-icon-button color="primary" title="Supprimer le commentaire" (click)="removeComment(comment._id)" *ngIf="(comment.name == currentParticipant.name) || isAdmin"> 
                  <mat-icon aria-label="Example icon-button with a heart icon">remove_circle</mat-icon>
              </button>
              <button mat-icon-button color="primary" title="Modifier le commentaire" (click)="updateComment(comment._id, comment.text)" *ngIf="(comment.name == currentParticipant.name)"> 
                  <mat-icon aria-label="Example icon-button with a heart icon">create</mat-icon>
              </button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
  <br>
  <mat-divider></mat-divider>
</div>