
<div style="background-color: #D8E4F2">
  <div class="form-event">
    <br><br><br>
    <div class="form-group"  >
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control mr-sm-2" placeholder="Event title..." style="margin-left: 500px; width: 200px;">
        </div>
        <div class="col">
          <button class="btn btn-success my-2 my-sm-0" routerLink='/createEvent'>Create event</button>
        </div>
      </div>
    </div>
  </div>
  <div class="slide-img-app" style="margin-top: 50px; margin-left:400px; width: 500px; height: 400px" >

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../assets/icon/plan_together.png" alt="plan together" style="width: 500px; height: 400px">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/icon/hand_mark.png" alt="hand mark" style="width: 500px; height: 400px">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/icon/planning.png" alt="planning" style="width: 500px; height: 400px">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/icon/reunion.png" alt="reunion" style="width: 500px; height: 400px">
        </div>
      </div>
    </div>
    <!--ul class="list-img"!-->
    <!--img class="slide-img" src="../assets/icon/plan_together.png" alt="plan together" style="width: 500px; height: 400px"!-->
    <!--img class="slide-img" src="../assets/icon/hand_mark.png" alt="plan together" style="width: 500px; height: 400px">
    <img class="slide-img" src="../assets/icon/planning.png" alt="plan together" style="width: 500px; height: 400px">
    <img class="slide-img" src="../assets/icon/reunion.png" alt="plan together" style="width: 500px; height: 400px"!-->
    <!--/ul!-->
  </div>
</div>
